<link rel="stylesheet" href="templates/ds4/template.css">
<script async src="templates/ds4/template.js"></script>
<div class="triggers">
	<span class="trigger left p1" data-button="6"></span>
	<span class="trigger right p2" data-button="7"></span>
	<span class="clear"></span>
</div>
<div class="bumpers">
	<span class="bumper left p1" data-button="4"></span>
	<span class="bumper right p2" data-button="5"></span>
	<span class="clear"></span>
</div>
<div class="touchpad" data-button="17"></div>
<div class="meta" data-button="16"></div>
<div class="arrows">
	<span class="select p1" data-button="8"></span>
	<span class="start p2" data-button="9"></span>
	<span class="clear"></span>
</div>
<div class="buttons">
	<span class="button a p2" data-button="0"></span>
	<span class="button b p2" data-button="1"></span>
	<span class="button x p1" data-button="2"></span>
	<span class="button y p1" data-button="3"></span>
</div>
<div class="sticks">
	<span class="stick left p1" data-button="10" data-axis-x="0" data-axis-y="1"></span>
	<span class="stick right p2" data-button="11" data-axis-x="2" data-axis-y="3"></span>
</div>
<div class="dpad">
	<span class="face up p2" data-button="12"></span>
	<span class="face down p1" data-button="13"></span>
	<span class="face left p2" data-button="14"></span>
	<span class="face right p1" data-button="15"></span>
</div>
